<!-- app/templates/login.html -->
{% extends 'index.html' %}

{% block title %}Criar Reserva{% endblock %}

{% block content %}

  <body>
    <div class="login-container">
      <h2>Bem-Vindo!</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash-messages">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form method="post" action="{{ url_for('login_bp.login') }}">
        <label for="usuario">Usuário:</label>
        <input type="text" placeholder="Email ou matricula" name="usuario" id="usuario" value="{{ usuario_preenchido or '' }}" required>
        <label for="senha">Senha:</label>
        <input type="password" placeholder="Senha" name="senha" id="senha" required>
        <div class="error" id="error"></div>
        <button type="submit" class="button-entrar">Entrar</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/login.js') }}"></script>
  </body>
{% endblock %}
