<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  {% endblock %}
</head>
<body>
<div class="content-centered">
  <div class="login-container">
    <h2>Bem-Vindo!</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-messages">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  
    <form method="post" action="{{ url_for('login_bp.login') }}">
      <label for="usuario">Usuário:</label>
      <input type="text" name="usuario" placeholder="Email ou matrícula" id="usuario" value="{{ usuario_preenchido or '' }}" required>
  
      <label for="senha">Senha:</label>
      <input type="password" name="senha" placeholder="Senha" id="senha" required>
  
      <div class="error" id="error"></div>
  
      <button type="submit" class="button-entrar">Entrar</button>
    </form>
  </div>
</div>
</body>
</html>