<!-- templates/instrutor/painel_instrutor.html -->
{% extends 'base/base.html' %}
{% block content %}
<h2 class="mb-4">Painel do Instrutor</h2>
<div class="row">
    {% for sala in salas %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ sala.nome_sala }}</h5>
                <p>Status: <strong>{{ sala.status_sala }}</strong></p>
                <a href="{{ url_for('instrutor_bp.criar_reserva') }}" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}