{% extends 'index.html' %}

{% block title %}Criar Reserva{% endblock %}

{% block content %}
<h2>Criar Nova Reserva</h2>

<form method="POST">
    <label for="nome_sala">Sala:</label>
    <select name="nome_sala" required>
        <option value="">Selecione uma sala</option>
        {% for sala in salas %}
        <option value="{{ sala }}">{{ sala }}</option>
        {% endfor %}
    </select><br><br>

    <label for="email">Email do usuário:</label>
    <input type="email" name="email" required><br><br>

    <label for="data_res">Data da reserva:</label>
    <input type="date" name="data_res" required><br><br>

    <label for="inicio">Horário de início:</label>
    <input type="time" name="inicio" required><br><br>

    <label for="termino">Horário de término:</label>
    <input type="time" name="termino" required><br><br>

    <button type="submit" class="btn btn-success">Salvar Reserva</button>
</form>
<!-- Botão de cancelar fora do formulário -->

<a href="{{ url_for('coordenador_bp.listar_reservas') }}" class="btn btn-secondary"><button>Cancelar</button></a>
{% endblock %}
