{% extends 'index.html' %}

{% block title %}Editar Sala{% endblock %}

{% block content %}
<h1>Editar Sala</h1>

<form method="POST" action="{{ url_for('coordenador.editar_sala', id=sala.id) }}">
  <label>Nome da Sala:</label>
  <input type="text" name="nome" value="{{ sala.nome }}" required><br><br>

  <label>Status:</label>
  <select name="status" required>
    <option value="disponivel" {% if sala.status == 'disponivel' %}selected{% endif %}>Disponível</option>
    <option value="ocupada" {% if sala.status == 'ocupada' %}selected{% endif %}>Ocupada</option>
    <option value="manutencao" {% if sala.status == 'manutencao' %}selected{% endif %}>Em Manutenção</option>
  </select><br><br>

  <label>Imagem:</label>
  <select name="imagem" required>
    {% for img in imagens %}
      <option value="{{ img }}" {% if sala.imagem == img %}selected{% endif %}>{{ img }}</option>
    {% endfor %}
  </select><br><br>

  <button type="submit">Salvar</button>
  <a href="{{ url_for('routes.painel_coordenador') }}" class="btn-cancelar">Cancelar</a>
</form>
{% endblock %}
