<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Salas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <nav>
            <a href="{{ url_for('geral_bp.home') }}">Início</a>
            <a href="{{ url_for('coordenador_bp.painel_coordenador') }}">Coordenador</a>
            <a href="{{ url_for('instrutor_bp.painel_instrutor') }}">Instrutor</a>
            <a href="{{ url_for('login_bp.login') }}">Login</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>