<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Salas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <nav>
            <a href="{{ url_for('geral_bp.home') }}">Início</a>
            {% if session.get('logged_in') %}
                {% if session.get('user_role') == 'Coordenador' or session.get('user_role') == 'Administrador' %}
                    <a href="{{ url_for('coordenador_bp.painel_coordenador') }}">Painel Coordenador</a>
                {% endif %}
                {% if session.get('user_role') == 'Instrutor' or session.get('user_role') == 'Administrador' %}
                    <a href="{{ url_for('instrutor_bp.painel_instrutor') }}">Painel Instrutor</a>
                {% endif %}
                <a href="{{ url_for('geral_bp.logout') }}">Sair ({{ session.get('user_name', 'Usuário') }})</a>
            {% else %}
                <a href="{{ url_for('login_bp.login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>